.tn2 {
    top: 0;
}

@keyframes opa {
    0% {opacity: 0;}
    100% {opacity: 100;}
}

@keyframes pos {
  0% {transform: translateY(300px);
  opacity: 0;}
  100% {transform: translateY(0px);
  opacity: 100;}
}

@keyframes scal {
  0% {transform: scale(0);
  opacity: 0;}
  100% {transform: scale(1);
  opacity: 100;}
}

body {
    background: rgb(19, 19, 19);
    color: #fff;
}

.centrstuff {
    display: grid;
}

 .heading {
     padding: 100px 0px 0px 0px;
     margin: 0;
     text-align: center;
     font-size: 45px;
     opacity: 0;
     animation: opa;
     animation-duration: 0.3s;
     animation-delay: 0.4s;
     animation-fill-mode: forwards;
 }

 h2 {
    margin: 0;
    padding: 9px 10px 10px 0px;
    text-align: center;
    font-size: 25px;
    font-weight: lighter;
    opacity: 0;
    animation: opa;
    animation-duration: 0.3s;
    animation-delay: 0.6s;
    animation-fill-mode: forwards;
}

.h3 {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

h3 {
    margin-top: 40px;
    text-align: center;
    font-size: 40px;
    font-weight: 3000;
    border-radius: 100%;
    width: min-content;
    padding: 20px 20px;
    background-image: linear-gradient(45deg, #2f2548, rgb(170 52 206));
    opacity: 0;
    animation: scal;
    animation-duration: 0.3s;
    animation-delay: 0.8s;
    animation-fill-mode: forwards;
}

  .row2 {
    perspective: 900px;
    display: flex;
    background-repeat: no-repeat;
    background-size: 100%;
    color: #ddd;
    margin: 0;
    font-size: 23px;
    opacity: 0;
    animation: pos;
    animation-duration: 0.5s;
    animation-delay: 0.8s;
    animation-fill-mode: forwards;
}
  
  .sbhq {
    width: 100%;
    border-radius: 10px;
    transform: rotateX(0deg) rotateY(10deg);
    transition: all 0.2s ease;
  }
  
  .sbhq:hover {
    width: 100%;
    border-radius: 10px;
    transform: rotateX(0deg) rotateY(19deg);
  }

  .c3 {
    perspective: 850px;
    display: grid;
    place-items: center;
    flex: 50%;
    padding: 0% 2% 0% 10%;
    border-right: 0.5px solid rgb(255, 255, 255);
  }
  
  .c4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 50%;
    padding: 0% 10% 0% 2%;
    border-left: 0.5px solid rgb(255, 255, 255);
  }

  .c4 h1 {
    padding-bottom: 25px;
    position: relative;
  }

  .c4 h1::after {
    content: "";
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 10vmax;
  }

  .c4 p, h1 {
      margin: 0;
  }

  .go {
    width: fit-content;
    margin-top: 20px;
    border-radius: 10vmax;
    padding: 7px 14px;
    transition: all 0.2s ease;
    background-color: #ffffff00;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    border: #ddd 1px solid;
   }

   .go:hover {
       transform: translateY(-5px);
       background-color: #ffffff;
       color: black;
   }

   .go1 {
      align-self: flex-end;
   }

  .row3 {
    perspective: 850px;
    display: flex;
    background-repeat: no-repeat;
    background-size: 100%;
    color: #ddd;
    margin: 0;
    font-size: 23px;
    padding-bottom: 40px;
    opacity: 0;
    animation: pos;
    animation-duration: 0.5s;
    animation-delay: 1.4s;
    animation-fill-mode: forwards;
  }
  
  .dm {
    width: 80%;
    border-radius: 10px;
    transform: rotateX(0deg) rotateY(-10deg);
    transition: all 0.2s ease;
  }
  
  .dm:hover {
    width: 80%;
    border-radius: 10px;
    transform: rotateX(0deg) rotateY(-15deg);
  }

  .c6 {
    perspective: 850px;
    display: grid;
    place-items: center;
    flex: 50%;
    padding: 0% 10% 0% 2%;
    border-left: 0.5px solid rgb(255, 255, 255);
  }
  
  .c5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    flex: 50%;
    padding: 0% 2% 0% 10%;
    border-right: 0.5px solid rgb(255, 255, 255);
  }

  .c5 h1 {
    padding-bottom: 25px;
    position: relative;
  }

  .c5 h1::after {
    content: "";
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 10vmax;
  }

  .c5 p, h1 {
      margin: 0;
  }

#hi1 {
  opacity: 0;
  animation: scal;
  animation-duration: 0.5s;
  animation-delay: 1.2s;
  animation-fill-mode: forwards;
}

  @media only screen and (max-width: 1273px) {
    .row2 {
        display: grid;
        width: 100%;
        padding-top: 0px;
        background-repeat: no-repeat;
        background-size: 100%;
        color: #ddd;
        font-size: large;
      }
      
      .sbhq {
        width: 100%;
        border-radius: 10px;
        transform: rotateX(15deg) rotateY(0deg);
        transition: all 0.2s ease;
      }
      
      .sbhq:hover {
        width: 100%;
        border-radius: 10px;
        transform: rotateX(30deg) rotateY(0deg);
        transition: all 0.2s ease;
      }

      .c3 {
        padding: 0% 10% 0% 10%;
        flex: 100%;
        border-right: 0px solid rgb(255, 255, 255);
      }
      
      .c4 {
        border-left: 0px solid rgb(255, 255, 255);
        margin-top: 50px;
        flex: 100%;
        padding: 0% 5% 0% 5%;
        text-align: center;
      }

      .go {
        margin: 20px auto;
      }

      .row3 {
        display: inline-grid;
        width: 100%;
        background-repeat: no-repeat;
        background-size: 100%;
        color: #ddd;
        font-size: large;
      }
      
      .dm {
        width: 80%;
        border-radius: 10px;
        transform: rotateX(15deg) rotateY(0deg);
        transition: all 0.2s ease;
      }

      .dm:hover {
        width: 80%;
        border-radius: 10px;
        transform: rotateX(30deg) rotateY(0deg);
        transition: all 0.2s ease;
      }
      
      .c5 {
        border-right: 0px solid rgb(255, 255, 255);
        margin-top: 50px;
        flex: 100%;
        padding: 0% 5% 0% 5%;
        text-align: center;   
      }

      .c6 {
        padding: 0% 10% 0% 10%;
        flex: 100%;
        border-left: 0px solid rgb(255, 255, 255);
        grid-row-end: 1;
      }

  }
