@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto-Regular.ttf) format('truetype');
}

.transition-fade {
  opacity: 1;
  transition: 200ms;
}

html.is-animating .transition-fade {
  opacity: 0;
}

*::selection {
  background-color: #7e34d1;
  color: #ffffff;
}

* {
  font-family: Roboto;
  src: url(../fonts/Roboto-Regular.ttf) format('truetype');
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  background-color: rgb(51, 51, 51);
-webkit-tap-highlight-color: transparent;
}


/*Tryna keep my CSS Clean 😅*/

/*-Animations*/

@keyframes scale {
  0% {transform: scale(0);
  opacity: 0;}
  100% {transform: scale(1);
  opacity: 100;}
}

@keyframes pos {
  0% {transform: translateY(300px);
  opacity: 0;}
  100% {transform: translateY(0px);
  opacity: 100;}
}

@keyframes opa {
  0% {opacity: 0;}
  100% {opacity: 100;}
}

@keyframes load {
  0% {opacity: 0; }
  100% {opacity: 100; }
}

/*-End of Animations-*/

/*-Custom Scroll Bar-*/

.scroll {
  overflow: overlay;
}

.scroll::-webkit-scrollbar {
  inline-size: 11px;
}

.scroll::-webkit-scrollbar-track {

}

.scroll::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to bottom, rgba(157, 76, 189, 0.884) ,rgb(77, 40, 177));
  border-radius: 10px;
  border-block: none;
  border: 4px solid transparent;
  background-clip: padding-box;
  -webkit-transition: border 0.2s ease;
}

.scroll::-webkit-scrollbar-thumb:hover {
  background: rgb(131, 130, 130);
  border-radius: 10px;
  border-block: none;
  inline-size: 13px;
  border: 2px solid transparent;
  background-clip: padding-box;
}

.scroll::-webkit-scrollbar:hover {
  background-color: #28282ece;
}

/*-End of Custom Scroll Bar-*/

/*-Nav Bar-*/
.active2 {
  display: none;
}

.topnav2 a {
  display: none;
}

.text {
  color: #f2f2f2;
}

.hmater {
  width: 100vw;
}

.topnav {
  background-color: rgba(47, 37, 72, 0);
  display: grid;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 33px 0px;
  backdrop-filter: blur(0px);
  z-index: 2;
}

.holder {
  width: fit-content;
  margin-right: 10vw;
  place-self: center end;
  grid-row: 2;
}

.holder1 {
  display: flex;
  width: fit-content;
  margin-left: calc(10vw + 16px);
  place-self: center start;
  grid-row: 2;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 6px 16px;
  text-decoration: none;
  font-size: 17px;
  margin: 0px 10px;
  border-radius: 20px;
  transition: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
  border-radius: 20px;
  transition: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.topnav a.active {
  background-image: linear-gradient(to bottom right, rgba(157, 76, 189, 0.884) ,rgb(77, 40, 177));
  color: white;
  border-radius: 20px;
  box-shadow: 0px 2px 15px rgb(134, 50, 184);
  transition: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

#imghead {
  height: 30px;
  align-self: center;
}

#cont {
  align-self: center;
  padding-left: 14px;
  color: #ddd;
  font-weight: bolder;
}

/*-End of Nav Bar-*/

/*-Main Content-*/

.top {
  background-image: url(../images/bg.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #2f2548;
  display: grid;
  place-items: center;
  position: relative;
}

.top img {
  padding-top: 4%;
  width: 33%;
  overflow: hidden;
  opacity: 0;
  animation: pos;
  animation-duration: 0.3s;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
}

.t1 {
  color: #ddd;
  font-size: 42px;
  font-weight: bold;
  background-image: linear-gradient(to bottom left, rgba(132, 52, 206, 0.884) ,rgb(79, 54, 190));
  border-radius: 12px;
  padding: 10px 55px;
  box-shadow: 0px 15px 45px rgb(170, 52, 206);
  transition: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  opacity: 0;
  animation: pos;
  animation-duration: 0.3s;
  animation-delay: 0.24s;
  animation-fill-mode: forwards;
}

.t1:hover {
  padding: 15px 60px;
  font-size: 50px;
  transition: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.intro {
  color: #ddd;
  font-size: 27px;
  text-align: center;
  margin: 40px 30%;
  transition: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  opacity: 0;
  animation: pos;
  animation-duration: 0.3s;
  animation-delay: 0.28s;
  animation-fill-mode: forwards;
  height: min-content;
}

/*-End of main-*/

/*-two-*/

.row {
  display: flex;
  padding-top: 15%;
  background-image: url(../images/bg2.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #001220;
  color: #ddd;
  font-size: large;
}

.who {
  width: 110px;
  box-shadow: 0px 0px 30px #9c3ed3;
  border-radius: 100px;
}

.c1 {
  flex: 50%;
  margin: 0% 10%;
  transform: translateY(100px);
  opacity: 0;
}

.c2 {
  flex: 50%;
  margin: 0% 10%;
  transform: translateY(100px);
  opacity: 0;
}

.c2 a {
  text-decoration: none;
  color: rgb(253, 253, 253);
  text-decoration: none;
  font-weight: bolder;
  border-radius: 20px;
  transition: all 0.2s ease-in;
  position: relative;
}

.c2 a::after {
  content: "";
  background-image: linear-gradient(to left, rgb(132, 52, 206) ,rgb(79, 54, 190));
  bottom: 0;
  left: 0;
  position: absolute;
  width: 0ch;
  height: 2px;
  transition: all 0.2s ease;
}

.c2 a:hover::after {
  width: 4ch;
}

/*-End of Two-*/

/*-Three-*/

.three {
  background-image: url(../images/end.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: rgb(32, 24, 50);
  display: grid;
  place-items: center;
  align-items: center;
}

#vidh {
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 19%;
  margin-bottom: 40px;
  font-size: 25px;
  opacity: 0;
  transform: scale(0);
  padding: 10px 20px;
  color: #ddd;
  background-image: linear-gradient(to left, #d13bc5 ,#872ddb);
  position: relative;
  border-radius: 9px;
  backdrop-filter: blur(30px);
  box-shadow: 0px 4px 21px #000000;
}

.contcard{
  display: grid;
  column-gap: 80px;
  transition: all 0.5s ease;

}

.carda {
  background-image: url(../images/edit.jpg);
  border-radius: 4px;
  background-size: cover;
  background-repeat: no-repeat;
  width: 260px;
  height: 400px;
  overflow: hidden;
  display: grid;
  grid-row: 2;
  box-shadow: 0px 1px 15px rgb(0, 0, 0);
  opacity: 0;
}

.cardblock {
  place-self: end start;
  padding: 30px 20px;
  transform: translateY(120px);
  transition: all 0.2s ease;
  color: #f2f2f2;
  background-image: linear-gradient(to bottom, rgba(81, 59, 209, 0) ,rgb(0, 0, 0));
}

.cardblock p {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.2s ease;
  color: #f2f2f2;
}

.cardblock a {
  opacity: 0;
  transform: translateY(3px);
  transition: all 0.2s ease;
  color: #f2f2f2;
  background:rgb(65, 65, 65);
  padding: 9px 25px;
  border-radius: 6px;
  cursor: not-allowed;
}

.cardtit {
  color: #f2f2f2;
  font-weight: bolder;
  position: relative;
}

.cardtit::after {
  content: "";
  width: 0%;
  height: 3px;
  background-image: linear-gradient(to left, rgba(81, 59, 209, 0.884) ,rgb(167, 54, 190));
  position: absolute;
  transform: translateY(6px);
  bottom: 0;
  left: 0;
  border-radius: 5px;
  transition: all 0.2s ease 0.2s;
}


.carda:hover .cardblock {
  transform: translateY(0px);
}

.carda:hover .cardtit::after {
  width: 100%;
}

.carda:hover .cardblock p {
  opacity: 1;
  transform: translateY(0px);
  transition: all 0.5s ease 0.1s;
  color: #f2f2f2;
}

.carda:hover .cardblock a {
  opacity: 1;
  transform: translateY(0px);
  transition: all 0.5s ease 0.2s;
  color: #f2f2f2;
}

/*card 2*/

.cardb {
  background-image: url(../images/code.png);
  border-radius: 4px;
  background-size: cover;
  background-repeat: no-repeat;
  width: 260px;
  height: 400px;
  overflow: hidden;
  display: grid;
  grid-row: 2;
  box-shadow: 0px 1px 15px rgb(0, 0, 0);
  opacity: 0;
}

.cardblock1 {
  place-self: end start;
  padding: 30px 20px;
  transform: translateY(120px);
  transition: all 0.2s ease;
  color: #f2f2f2;
  background-image: linear-gradient(to bottom, rgba(81, 59, 209, 0) ,rgb(0, 0, 0));
}

.cardblock1 p {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.2s ease;
  color: #f2f2f2;
}

.cardblock1 a {
  opacity: 0;
  transform: translateY(3px);
  transition: all 0.2s ease;
  color: #f2f2f2;
  background-image: linear-gradient(to left, rgba(124, 59, 209, 0.884) ,rgb(163, 54, 190));
  padding: 9px 25px;
  border-radius: 6px;
}

.cardtit1 {
  color: #f2f2f2;
  font-weight: bolder;
  position: relative;
}

.cardtit1::after {
  content: "";
  width: 0%;
  height: 3px;
  background-image: linear-gradient(to left, rgba(81, 59, 209, 0.884) ,rgb(167, 54, 190));
  position: absolute;
  transform: translateY(6px);
  bottom: 0;
  left: 0;
  border-radius: 5px;
  transition: all 0.2s ease 0.2s;
}


.cardb:hover .cardblock1 {
  transform: translateY(0px);
}

.cardb:hover .cardtit1::after {
  width: 100%;
}

.cardb:hover .cardblock1 p {
  opacity: 1;
  transform: translateY(0px);
  transition: all 0.5s ease 0.1s;
  color: #f2f2f2;
}

.cardb:hover .cardblock1 a {
  opacity: 1;
  transform: translateY(0px);
  transition: all 0.5s ease 0.2s;
  color: #f2f2f2;
  text-decoration: none;
}

/*footer*/

.foot {
  width: 100%;
  background-image: url(../images/foot.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #1a0a22;
  color: #ddd;
  display: grid;
  place-items: center;
}

.footh1 {
  padding: 26px 22px;
  margin-top: 21%;
  display: grid;
  place-items: center;
}

.footh1 h1 {
  text-align: center;
  transform: translateY(40px);
  opacity: 0;
}

.footh1 img {
  width: 110px;
  box-shadow: 0px 0px 30px #7e34d1;
  border-radius: 100%;
  transform: scale(0);
  opacity: 0;
}

.footh1 a {
  color: #f2f2f2;
  text-decoration: none;
  background-image: linear-gradient(to left, rgba(81, 59, 209, 0.884) ,rgb(167, 54, 190));
  padding: 9px 20px;
  border-radius: 8px;
  background-size: 160%;
  background-position: 0%;
  transition: all 0.3s ease;
  box-shadow: 0px 3px 30px #9c3ed3;
  transform: translateY(0px);
  opacity: 0;
}

.footh1 a:hover {
  background-position: 100%;
  box-shadow: 0px 3px 30px #7520ff;
  transform: translateY(-8px);
}

@media only screen and (max-width: 677px) {
  .topnav {
    display: none;
  }

  .top {
    background-image: url(../images//mobile/bg.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #2f2548;
    display: grid;
    place-items: center;
    position: relative;
  }

  .t1 {
    color: #ddd;
    font-size: 28px;
    font-weight: bold;
    background-image: linear-gradient(to bottom left, rgba(132, 52, 206, 0.884) ,rgb(79, 54, 190));
    border-radius: 12px;
    padding: 10px 55px;
    box-shadow: 0px 15px 45px rgb(170, 52, 206);
    transition: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    opacity: 0;
    animation: pos;
    animation-duration: 0.3s;
    animation-delay: 0.24s;
    animation-fill-mode: forwards;
  }

  .top img {
    padding-top: 25%;
    width: 80%;
    overflow: hidden;
    opacity: 0;
    animation: pos;
    animation-duration: 0.3s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
  }

  .t1:hover {
    color: #ddd;
    font-size: 28px;
    font-weight: bold;
    background-image: linear-gradient(to bottom left, rgba(132, 52, 206, 0.884) ,rgb(79, 54, 190));
    border-radius: 12px;
    padding: 10px 55px;
    box-shadow: 0px 15px 45px rgb(170, 52, 206);
  }
  .intro {
    color: #ddd;
    font-size: 16px;
    text-align: center;
    margin: 40px 10% 80px 10%;
    transition: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    opacity: 0;
    animation: pos;
    animation-duration: 0.3s;
    animation-delay: 0.28s;
    animation-fill-mode: forwards;
  }  

  .row {
    display:grid;
    width: 100%;
    padding-top: 150px;
    background-image: url(../images/mobile/bg2.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #001220;
    color: #ddd;
    font-size: large;
  }
  
  .who {
    width: 33%;
  }
  
  .c1 {
    flex: 100%;
  }
  
  .c2 {
    margin-top: 20px;
    flex: 100%;
  }

  .three {
    background-image: url(../images/mobile/end.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #201832;
    display: grid;
    place-items: center;
  }
  
  .cardblock {
    transform: translateY(0px);
  }

  .cardtit::after {
    content: "";
    width: 100%;
    height: 3px;
    background-image: linear-gradient(to left, rgba(81, 59, 209, 0.884) ,rgb(167, 54, 190));
    position: absolute;
    transform: translateY(6px);
    bottom: 0;
    left: 0;
    border-radius: 5px;
  }
  
  .cardblock p {
    opacity: 1;
    transform: translateY(0px);
    transition: all 0.5s ease 0.1s;
    color: #f2f2f2;
  }
  
  .cardblock a {
    opacity: 1;
    transform: translateY(0px);
    transition: all 0.5s ease 0.2s;
    color: #f2f2f2;
  }

  .cardblock1 {
    transform: translateY(0px);
  }

  .cardtit1::after {
    content: "";
    width: 100%;
    height: 3px;
    background-image: linear-gradient(to left, rgba(81, 59, 209, 0.884) ,rgb(167, 54, 190));
    position: absolute;
    transform: translateY(6px);
    bottom: 0;
    left: 0;
    border-radius: 5px;
  }
  
  .cardblock1 p {
    opacity: 1;
    transform: translateY(0px);
    transition: all 0.5s ease 0.1s;
    color: #f2f2f2;
  }
  
  .cardblock1 a {
    opacity: 1;
    transform: translateY(0px);
    transition: all 0.5s ease 0.2s;
    color: #f2f2f2;
  }


  #vidh {
    margin-top: 33%;
    margin-bottom: 2px;
  }

  .contcard {
    row-gap: 40px;
  }

  .carda {
    grid-row: 3;
  }

  .cardb {
    grid-row: 2;
  }



  .foot1 {
    margin-top: 2px;
    margin-bottom: 150px;
    font-size: 15px;
    border-radius: 40px;
    padding: 9px 20px;
    text-decoration: none;
    color: #ddd;
    font-weight: bolder;
  } 

  /*mobile nav*/

    .topnav2 {
      z-index: 4;
      width: 100%;
      top: 0;
      position:fixed;
      overflow-y:show;
      overflow-x:show;
    }

    .topnav2 #myLinks {
      transform: translateY(-200%);
      backdrop-filter: blur(20px);
      transition: all 0.1s ease-in;
      font-weight:normal;
    }

    .topnav2 a {
      color: white;
      padding: 30px 25px;
      text-decoration: none;
      font-size: 17px;
      display: block;
      font-weight:normal;
      transition: all 0.1s ease-in;
    }

    .topnav2 a.icon {
      background: #00000000;
      padding: 30px 27px;
      display: block;
      position: absolute;
      right: 0;
      top: 0;
    }

    .topnav2 a:hover {
      font-weight: 1000;
      transition: all 0.1s ease-in;
    }

    .active2 {
      color: white;
    }
}

/*Tabletty mody*/

@media only screen and (min-width: 677px) and (max-width: 980px) {
  .top {
    background-image: url(../images/bg.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #2f2548;
    display: grid;
    place-items: center;
    position: relative;
  }
  
  
  .cardblock {
    transform: translateY(0px);
  }

  .cardtit::after {
    content: "";
    width: 100%;
    height: 3px;
    background-image: linear-gradient(to left, rgba(81, 59, 209, 0.884) ,rgb(167, 54, 190));
    position: absolute;
    transform: translateY(6px);
    bottom: 0;
    left: 0;
    border-radius: 5px;
  }
  
  .cardblock p {
    opacity: 1;
    transform: translateY(0px);
    transition: all 0.5s ease 0.1s;
    color: #f2f2f2;
  }
  
  .cardblock a {
    opacity: 1;
    transform: translateY(0px);
    transition: all 0.5s ease 0.2s;
    color: #f2f2f2;
  }

  .cardblock1 {
    transform: translateY(0px);
  }

  .cardtit1::after {
    content: "";
    width: 100%;
    height: 3px;
    background-image: linear-gradient(to left, rgba(81, 59, 209, 0.884) ,rgb(167, 54, 190));
    position: absolute;
    transform: translateY(6px);
    bottom: 0;
    left: 0;
    border-radius: 5px;
  }
  
  .cardblock1 p {
    opacity: 1;
    transform: translateY(0px);
    transition: all 0.5s ease 0.1s;
    color: #f2f2f2;
  }
  
  .cardblock1 a {
    opacity: 1;
    transform: translateY(0px);
    transition: all 0.5s ease 0.2s;
    color: #f2f2f2;
  }

  #vidh {
    margin-top: 20%;
  }


  .top img {
    padding-top: 7%;
    width: 47%;
    overflow: hidden;
    opacity: 0;
    animation: pos;
    animation-duration: 0.3s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
  }
  
  .t1 {
    color: #ddd;
    font-size: 42px;
    font-weight: bold;
    background-image: linear-gradient(to bottom left, rgba(132, 52, 206, 0.884) ,rgb(79, 54, 190));
    border-radius: 12px;
    padding: 10px 55px;
    box-shadow: 0px 15px 45px rgb(170, 52, 206);
    transition: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    opacity: 0;
    animation: pos;
    animation-duration: 0.3s;
    animation-delay: 0.24s;
    animation-fill-mode: forwards;
  }

  .intro {
    color: #ddd;
    font-size: 27px;
    text-align: center;
    margin: 40px 17%;
    transition: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    opacity: 0;
    animation: pos;
    animation-duration: 0.3s;
    animation-delay: 0.28s;
    animation-fill-mode: forwards;
  }

  .row {
    display:grid;
    width: 100%;
    padding-top: 150px;
    background-image: url(../images/bg2.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #001220;
    color: #ddd;
    font-size: large;
  }
  
  .who {
    width: 17%;
  }
  
  .c1 {
    flex: 100%;
  }
  
  .c2 {
    margin-top: 20px;
    flex: 100%;
  }
} 

#bar3 {
  transform-origin: center center;
}

#bar4 {
  transform-origin: center center;
}
