.tn2 {
    top: 0;
}

@keyframes opa {
    0% {opacity: 0;}
    100% {opacity: 100;}
  }

  @keyframes pos {
    0% {transform: translateY(300px);
    opacity: 0;}
    100% {transform: translateY(0px);
    opacity: 100;}
  }

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #302f2f;
    color: #fff;
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    height: 100%;
    width: 100%;
    border-radius: 18px;
    text-decoration: none;
    text-align: center;
    transition: all 100ms;
    overflow: hidden;
    background-size: 200%;
    background-repeat: no-repeat;
    background-position: 0%;

 }
  
.srcim {
    padding-top: 20px;
    width: 40%;
}

.card h1 {
    font-weight: bolder;
    margin: 0;
    margin: 20px;
    font-size: 22px;
}

.card p {
    margin: 0px 20px;
    padding-bottom: 20px;
    font-size: 18px;
}

.card:hover {
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: translateY(-15px) scale(1.08);
    background-position: 100%;
    background-color: rgb(63, 63, 63);
 }


.basic-grid {
    padding: 10px 25% 0px 25%;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    opacity: 0;
    animation: pos;
    animation-duration: 0.3s;
    animation-delay: 0.6s;
    animation-fill-mode: forwards;
 }

 .heading {
     padding: 90px 0px 0px 0px;
     text-align: center;
     font-size: 40px;
     opacity: 0;
     animation: opa;
     animation-duration: 0.3s;
     animation-delay: 0.4s;
     animation-fill-mode: forwards;
 }

 @media only screen and (max-width: 600px) {

    .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #302f2f;
        color: #fff;
        box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
        height: 100%;
        width: 100%;
        border-radius: 18px;
        text-decoration: none;
        text-align: center;
        transition: all 100ms;
        overflow: hidden;
        background-size: 200%;
        background-repeat: no-repeat;
        background-position: 0%;
     }

     .card:hover {
        box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
        transform: translateY(0px) scale(1);
        background-position: 100%;
        background-color: rgb(63, 63, 63);
     }
     .basic-grid {
        padding: 10px 8% 0px 8%;
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
        opacity: 0;
        animation: pos;
        animation-duration: 0.3s;
        animation-delay: 0.6s;
        animation-fill-mode: forwards;
     }
 }